.user-main .main_title {
  padding: 60px 0 20px 0;
  color: #2c3e50;
  font-size: 32px;
  line-height: 46px;
   display: flex;
  flex-direction: column;
  align-items: center; /* 垂直居中 */
  text-align: center; /* 水平居中文本 */
}
.user-main h3,
.user-main .divider,
.user-main .desc {
  margin: 0 auto;
}

.user-main .desc {
  font-size: 17px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 40px;
  word-break: break-all;
}

.user-main .home_block {
  padding: 20px 0;
}

.user-main .user_case {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}

.user-main .user_case .case_item {
  display: flex;
  min-width: 0;
  background: #ebedf0;
  margin: 5px;
  height: 80px;
  border: 1px solid #eaecef;
  box-shadow: #f8f9fa 0 1px 2px 0;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.user-main .user_case .case_item:hover {
  transform: translateY(-10px);
  box-shadow: 0 1.0rem 2rem rgba(0, 0, 0, .05);
}

.user-main .user_case .case_item > img {
  max-width: 90%;
  max-height: 90%;
}

.user_page a {
  text-decoration: none;
}

.user_page {
  margin-top: 50px !important;
}
.company_name{
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
  color: rgba(21, 22, 34, 0.95);
}
.case_item {
  font-weight: bold ;
}


/* mobile theme */
@media screen and (max-width: 996px) {
  .user_page {
    margin-top: 20px !important;
  }

  .user-main .desc {
    line-height: 30px;
  }
}
